<h1>Login</h1>
{{!-- <form action="/api/sessions/login" method="POST"> --}}
<form action="/api/users/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <button type="submit">Login</button>
    <p>You forgot your password? <a href="/reset-password">reset</a></p> 
</form>

<br>
<p>For login with github click here <a href="/api/sessions/github"> GitHub </a></p>

<p>If you don't have an account click here for <a href="/register">register</a></p> 