<h1>Reset password</h1>

<form action="/api/users/reset-password" method="POST">
    <label for="email"> Email: </label>
    <input type="text" name="email" id="email" required>

    <label type="token"> Confirmation number: </label>
    <input type="text" name="token" id="token" required>

    <label for="password"> New password: </label>
    <input type="password" name="password" id="password" required>

    <button type="submit"> Reset Password</button>
</form>

{{#if error}}
    <p class="error"> {{error}} </p>
{{/if}}

<style>
    .error {
        color: red;
    }
</style>