<h1>Generated new reset email</h1>
<form action="/api/users/requestPasswordReset" method="POST">
    <label for="email"> Email: </label>
    <input type="text" name="email" id="email" required>

    <button type="submit"> Send email for reset</button>
</form>

{{#if error}}
    <p class="error"> {{error}} </p>
{{/if}}

<style>
    .error {
        color: red;
    }
</style>